@font-face {
    font-family: FuturaStd;
    src: url("../fonts/Futura_Std.otf");
  }

  h1, h2, h3, h4, a, button{
      font-family: FuturaStd;
  }

  p, li{
    font-family: 'Open Sans', sans-serif;
  }