.about{
    padding: 0 2em;
    position: relative;
}

.wrapper{
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: center;
    align-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.squares{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-row, .second-row{
    display: flex;
    flex-direction: column;
    img{
        width: 120px;
        height: 120px;
        margin-bottom: 1em;
    }
}

.description{
    width: 100%;
    h3{
        color: $dark-blue;
    }
    p{
        line-height: 2.188;
    }
}

@media screen and (min-width: $width-small){
    .about{
        height: auto;
    }

    .description{
        width: 100%;
    } 

    .squares, .first-row, .second-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
            margin-left: 1em;
        }
    }

    
}

@media screen and (min-width: $width-medium){
    .about{
        padding: 0;
    }
    
    .description{
        width: 50%;
        margin-left: 5em;
    }

    .wrapper{
        justify-content: flex-start;
    }
    .first-row, .second-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        img:last-of-type{
            margin-left: 1em;
        }
    }
    .squares{
        display: initial;
        transform: rotate(-45deg);
        position: absolute;
        top: 10vh;
        right: 10vw;
    }
}

@media screen and (min-width: $width-large){
    
}