button{
    border: 2px solid $green;
    background: transparent;
    color: $white;
    text-transform: uppercase;
    height: 3em;
    width: 11.25em;
    background-image: -webkit-linear-gradient(30deg, $green 50%, transparent 50%);
    background-image: linear-gradient(30deg, $green 50%, transparent 50%);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 100%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    cursor: pointer;
    &:hover{
        background-position: 60%;
         
    }
}
